In [10]:
import pandas as pd
import requests
from io import BytesIO
from zipfile import ZipFile

def load_csv_from_zip_url(url):
    # Send an HTTP GET request to the URL
    response = requests.get(url)
    # Raise an exception if the request failed
    response.raise_for_status()

    # Unzip the content
    with ZipFile(BytesIO(response.content)) as z:
        # Assuming the first file in the ZIP is the CSV you want
        print("Files in the ZIP:", z.namelist())
        csv_filename = z.namelist()[1]
        with z.open(csv_filename) as csv_file:
            # Read the CSV file into a pandas DataFrame
            dataframe = pd.read_csv(csv_file)

    return dataframe

# Example usage
url = "https://datamall.lta.gov.sg/content/dam/datamall/datasets/Facts_Figures/Vehicle%20Registration/COE%20Bidding%20Results.zip"
df = load_csv_from_zip_url(url)
print(df[-5:])

Files in the ZIP: ['COE Bidding Results/', 'COE Bidding Results/M11-coe_results.csv', 'COE Bidding Results/M11-coe_results_pqp.csv']
        month  bidding_no vehicle_class  quota  bids_success bids_received  \
1680  2024-04           1    Category A    975           970         1,922
1681  2024-04           1    Category B    653           645         1,208
1682  2024-04           1    Category C    197           196           365
1683  2024-04           1    Category D    520           510           610
1684  2024-04           1    Category E    164           161           333

      premium
1680    89000
1681   101334
1682    67501
1683    10000
1684   101002

In [11]:
df.head()

,month,bidding_no,vehicle_class,quota,bids_success,bids_received,premium
0,2010-01,1,Category A,1152,1145,1342,18502
1,2010-01,1,Category B,687,679,883,19190
2,2010-01,1,Category C,173,173,265,19001
3,2010-01,1,Category D,373,365,509,889
4,2010-01,1,Category E,586,567,1011,19889